<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-user-3"></span>[text* text-705
        placeholder "Enter Your name"]</div>
    <div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-envelope-1"></span>[text* text-706
        placeholder "Enter Email Address*"]</div>
<!-- <div class="col-lg-6 col-md-6 col-sm-12 form-group">[select* menu-305 class:custom-select-box "Select Service Type"
        "City 01" "City 02" "City 03" "City 04"]</div> -->

    <div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-user-3"></span>[text* text-705
        placeholder "Enter Your City name"]</div>
    <div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-call-1"></span>[text* text-707
        placeholder "Enter Phone Number"]</div>
    <div class="col-lg-12 col-md-12 col-sm-12 form-group"><span class="icon flaticon-pen"></span>[textarea* textarea-727
        placeholder "Enter Your Messege here"]</div>
    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
        <div class="buttons-box"><button class="theme-btn btn-style-one thm-btn">submit</button></div>
    </div>
</div>


<!-- old code  -->


<div class="row clearfix"><div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-user-3"></span>[text* text-705 placeholder "Enter Your name"]</div><div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-envelope-1"></span>[text* text-706 placeholder "Enter Email Address*"]</div><div class="col-lg-6 col-md-6 col-sm-12 form-group">[select* menu-305 class:custom-select-box "Select Service Type" "City 01" "City 02" "City 03" "City 04"]</div><div class="col-lg-6 col-md-6 col-sm-12 form-group"><span class="icon flaticon-call-1"></span>[text* text-707 placeholder "Enter Phone Number"]</div><div class="col-lg-12 col-md-12 col-sm-12 form-group"><span class="icon flaticon-pen"></span>[textarea* textarea-727 placeholder "Enter Your Messege here"]</div><div class="col-lg-12 col-md-12 col-sm-12 form-group"><div class="buttons-box"><button class="theme-btn btn-style-one thm-btn">submit</button></div></div></div>
